apiVersion: v1
kind: ConfigMap
metadata:
  name: local-path-config
  namespace: local-path-storage
data:
  config.json: |-
    {
      "nodePathMap":[
        {
          "node":"DEFAULT_PATH_FOR_NON_LISTED_NODES",
          "paths":["/opt/local-path-storage-provisioner"]
        },
        {
          "node":"pi5",
          "paths":["/data/local-path-storage-provisioner"]
        }
      ]
    }
