---
apiVersion: v1
kind: Namespace
metadata:
  name: immich
---
apiVersion: v1
kind: Service
metadata:
  name: immich-postgres
  namespace: immich
  labels:
    app: immich-postgres
spec:
  ports:
    - port: 5432
      targetPort: 5432
  clusterIP: None # Headless service for StatefulSet
  selector:
    app: immich-postgres
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: immich-postgres
  namespace: immich
spec:
  serviceName: immich-postgres
  replicas: 1
  selector:
    matchLabels:
      app: immich-postgres
  template:
    metadata:
      labels:
        app: immich-postgres
    spec:
      containers:
        - name: postgres
          image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:8d292bdb796aa58bbbaa47fe971c8516f6f57d6a47e7172e62754feb6ed4e7b0
          ports:
            - containerPort: 5432
          env:
            - name: "POSTGRES_USER"
              value: "immich"
            - name: "POSTGRES_PASSWORD"
              value: "immich"
            - name: "POSTGRES_DB"
              value: "immich"
            - name: "POSTGRES_INITDB_ARGS"
              value: "--data-checksums"
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
          resources:
            requests:
              memory: "3Gi"
              cpu: "250m"
            limits:
              memory: "6Gi"
              cpu: "800m"
      restartPolicy: Always
  volumeClaimTemplates:
    - metadata:
        name: pgdata
      spec:
        storageClassName: ""
        volumeName: immich-pgdata-pvc
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
